name: docs

on:
  push:
    branches: [master]
    paths:
      - "lua/**/*.lua"
      - ".github/workflows/docs.yml"

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    name: Generate vimdoc
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: true

      - name: Download lemmy-help
        run: |
          curl -Lq https://github.com/numToStr/lemmy-help/releases/latest/download/lemmy-help-x86_64-unknown-linux-gnu.tar.gz | tar xz
          chmod +x lemmy-help

      - name: Generate vimdoc
        run: |
          ./lemmy-help -c \
            lua/search-replace/init.lua \
            lua/search-replace/core.lua \
            > doc/search-replace.txt

      - name: Commit changes
        id: auto-commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "docs: auto-generate vimdoc"
          file_pattern: doc/*.txt
          disable_globbing: true
